@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff");
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player-controls-and-seek {
  display: flex;
  align-items: center;
  gap: 30px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote,
.volume-icons {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon.small {
 width: 15px;
  height: 15px;
  background-size: 15px;
  margin-right: 10px ;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.volume-icons:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.volume-icons:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.volume-icons {
  background-image: url("../assets/svg/volume.svg");
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%);
}

.volume-icons.mute {
  background-image: url("../assets/svg/mute.svg");
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%);
}

.player-seek {
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 1;
  transition: all 1s;
}


.player-title.hide{
  opacity: 0;
}

#seek-audio,
#seek-volume {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 4px;
}

#seek-audio {
  width: 200px;
}

#seek-volume {
  width: 60px;
  background: linear-gradient(to right, #d3d3d3 0%, #d3d3d3 50%, #ffffff 50%, #ffffff 100%);
}


#seek-volume::-webkit-slider-thumb,
#seek-audio::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #d3d3d3;
  border-radius: 50%;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 98vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 28vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .player-controls-and-seek {
    margin-right: 5px;
    gap: 1vw;
  }

  .player-seek span {
    font-size: 8px;
  }

  .title-song {
    font-size: 12px;
  }

  .volume-icons {
    width: 4vw;
    height: 4vw;
    background-size: 4vw;
  }

  #seek-audio {
    width: 22vw;
    height: 5px;
  }

  #seek-volume {
    width: 7vw;
    height: 5px;
  }

  #seek-volume::-webkit-slider-thumb,
  #seek-audio::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }

  main {
    width: 100vw;
  }

  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

@media (max-width: 650px)  {
  .player-controls {
    width: 17vw;
  }
  .player-controls button {
    width: 25px;
    height: 25px;
    background-size: 25px;
  }

  .player-controls .play {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }

  #seek-audio {
    width: 13vw;
  }
}

@media (max-width: 500px){
  .player-controls button {
    width: 15px;
    height: 15px;
    background-size: 15px;
  }

  .player-controls .play {
    width: 23px;
    height: 23px;
    background-size: 23px;
  }
}