html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Forum', serif;
  font-size: 50px;
}

section {
  margin-top: 75px;
}

section:first-of-type {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.dark_section {
  background-color: #030303;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo_svg {
  background-image: url("assets/svg/logo.svg");
  height: 26px;
  width: 49px;
}

.header_logo h1 {
  margin-left: 25px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header_navigation {
  max-width: 755px;
}

.header_navigation_list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.header_navigation_list li { 

  list-style: none; 
  padding-right: 55px;
}

.header_navigation_list li:last-child {
  padding-right: 0;
}

.header_navigation_list li a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  
}

.welcome {
  background-color: #030303;
}

.welcome_section {
  background-image: url("assets/img/welcome.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.welcome_title {
  display: block;
  padding-top: 150px;
  padding-bottom:272px;
  color: #ffffff;
  font-style: normal;
}

.welcome_title h2 {
  padding:0;
  margin:0;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.welcome_title p {
  padding:0;
  margin:0;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: 2px;
}

.welcome_title a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  height: 75px;
  width: 360px;
  background-color: #710707;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  font-style: normal;
  letter-spacing: 2px;
  border-radius: 10px;
}

.visiting_title {
  margin: 0;
  position: relative;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

.visiting_title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;

}

.visiting_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 75px 60px;
  margin-top: 103px;
}

.visiting_section_item {
  display: block;
}

.visiting_section_item h3 {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.visiting_section_item h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 140px;
  height: 2px;
  background-color: #710707;
}

.visiting_section_item_option {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
}

.visiting_section_item_place {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
}

.explore_section {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 75px 0;
  font-style: normal;
  color: #FFFFFF;

}

.explore_section_text {
  align-self: start;
}

.explore_section_img {
  align-self: end;
}

.explore_section_text h2 { 
  position: relative; 
  margin: 0;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;  
}

.explore_section_text h2::after{
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.explore_section_text p {
  padding-top: 25px;
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.explore_section_text p:first-of-type {
  padding-top: 103px;
}

.explore_section_text p span {
  color: #CAAA7D;
}

.video_section_title {
  display: flex;
  justify-content: space-between;
}

.video_section_title h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

.video_section_title p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}
video::-webkit-media-controls {
  display:none !important;
}

.video_container {
  position: relative;
}

.video_control_panel {
  position: absolute;
  bottom: -50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  background-color: black;
}

.video_control_panel button {
  margin:0;
  padding:0;
  border: none;
}

.video_control_panel .play_pause {
  height: 31px;
  width: 23px;
  background: url("assets/svg/control_panel_play.svg") no-repeat;
}

.video_control_panel .volume {
  height: 31px;
  width: 38px;
  background: url("assets/svg/volume.svg") no-repeat;
}

.video_control_panel .full_screen {
  height: 35px;
  width: 35px;
  background: url("assets/svg/big_screen.svg") no-repeat;
}

.video_control_panel #seek_bar {
  -webkit-appearance: none;
  height: 8px;
  width: 929px;
  background: linear-gradient(to right, #710707 0%, #710707 53%, #C4C4C4 53%, #C4C4C4 100%);
}

.video_control_panel #volume_bar {
  -webkit-appearance: none;
  height: 8px;
  width: 155px;
  background: linear-gradient(to right, #710707 0%, #710707 27%, #C4C4C4 27%, #C4C4C4 100%);
}

.video_control_panel #seek_bar::-webkit-slider-thumb,
.video_control_panel #volume_bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #ffffff;
  border-radius: 100%;
}

.video_container img {
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  bottom:50px;
}

.video_slider {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 42px;
}

.gallery h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.gallery_list {
  height: 2300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  gap:24px 36px;
}

.tickets h2 {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

.tickets h2::after{
   content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.tickets_section {
  display: flex;
  justify-content: space-between;
}

.type_ticket {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.type_ticket input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.type_ticket:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.type_ticket input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.type_ticket input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.type_ticket .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}